<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalnia:wght@300&family=Rubik:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="index.css" />
    <title>{PAGE_TITLE}</title>
</head>
<body>
    <nav>
        <p><a href="index.html">{PAGE_EMOJI}</a></p>
        {PAGE_LINKS}
    </nav>

    <article>
        <h1>{PAGE_TITLE}</h1>
        <br>

        {PAGE_CONTENT}
    
    </article>

    <footer>
        <hr />
        <p>
            <a href="index.html">William Barbosa ©️ 2023</a> | <a href="https://github.com/heytherewill">GitHub</a> | <a href="https://linkedin.com/in/heytherewill">LinkedIn</a>
        </p>
    </footer>

</body>
</html>